@import "tailwindcss";
:root{
  --color-primary: #86370E;
  --color-secondary: #FE6601;
  --color-tertiary: #ed9e66;
  --color-alternate: #e0e3e7;
}

/* optional rgb variants for rgba usage */
:root {
  --color-primary-rgb: 134 55 14; /* 134,55,14 */
}
.primary {
  color: #86370E;
}

.bg-primary {
  background-color: #86370E;
}

.secondary {
  color: #FE6601;
}

.bg-secondary {
  background-color: #FE6601;
}

.tertiary {
  color: #ED9E66;
}

.bg-tertiary {
  background-color: #ED9E66;
}

.alternate {
  color: #E0E3E7;
}

.bg-alternate {
  background-color: #E0E3E7;
}
@keyframes draw {
  from { stroke-dasharray: 0, 1000; }
  to { stroke-dasharray: 1000, 0; }
}

.animate-draw {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 1.5s forwards ease-in-out;
}
